.BuildControls {
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
    background-color: #cf8f2e;
    box-shadow: #ccc;
}